*{
    margin:0px;
    padding:0px
}


body {
    font-family: Arial, sans-serif;
    background-color: #34afce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

form {
    margin-bottom: 20px;
}

input[type="serach"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#wheather-data {
    margin-top: 20px;
}

#wheather-data p {
    font-size: 24px;
    color: #333333;
}

#wheather-data h3 {
    font-size: 36px;
    color: #ff4500;
}
